<header>
  <mat-toolbar color="primary">
    <div class="wrapper">
      <div class="navs">
        <h1>
          <img src="../assets/Images/angular.png" alt="Angular Logo" /> Reactive
          Forms
        </h1>
        <ul>
          <li>
            <button
              mat-button
              routerLinkActive="active"
              routerLink="/user-form"
            >
              User Form
            </button>
          </li>
          <li>
            <button
              mat-button
              routerLinkActive="active"
              routerLink="/user-list"
            >
              User List
            </button>
          </li>
        </ul>
      </div>
      <div class="account">
        <button
          *ngIf="!user"
          mat-button
          routerLinkActive="active"
          routerLink="/auth"
        >
          Login
        </button>
        <ng-container *ngIf="user">
          <h1>{{ user.name }} ({{ user.role }})</h1>
          <button mat-raised-button color="accent" (click)="handleLogout()">
            Logout
          </button>
        </ng-container>
      </div>
    </div>
  </mat-toolbar>
</header>

<section>
  <router-outlet></router-outlet>
</section>
